# include this file in dhcpd.conf
{% for q in queryset %}{% if q.status ==  "active" and (q.assigned_object_type.app_label == 'dcim' or q.assigned_object_type.app_label == 'virtualization') and (q.assigned_object_type.name == 'interface') and (q.assigned_object.mac_address) and (q.cf.dhcp) %}host h_{{loop.index}} {hardware ethernet {{ q.assigned_object.mac_address }}; fixed-address {{ q.address.ip }}; } # {{ q.assigned_object.device }}{{ q.assigned_object.virtual_machine }}:{{ q.assigned_object }}
{% endif %}{% endfor %}